<%- include('../partials/header') %>
<h1>SUBMIT EVENT</h1>
<form id="new-form" action="/events" method="POST">
  <label>Event Name:</label>
  <input type="text" name="eventName" required>
  <label>Date:</label>
  <input type="date" name="date" required dateStyle="short">
  <label>Start Time:</label>
  <input type="time" name="startTime" min="00:00" max="23:59" required>
  <label>End Time:</label>
  <input type="time" name="endTime" min="00:00" max="23:59" required>
  <label>Address:</label>
  <input type="address" name="address" required>
  <label>Location:</label>
  <select name="location" required>
    <option value="Bear Mountain, CA">Bear Mountain, CA</option>
    <option value="Mount High, CA">Mount High, CA</option>
    <option value="Mammoth Mountain, CA">Mammoth Mountain, CA</option>
    <option value="Palisades Tahoe, CA">Palisades Tahoe, CA</option>
    <option value="Park City, UT">Park City, UT</option>
    <option value="Vail, CO">Vail, CO</option>
    <option value="Deer Valley Resort, UT">Deer Valley Resort, UT</option>
    <option value="Aspen Snowmass, CO">Aspen Snowmass, CO</option>
    <option value="Breckenridge, CO">Breckenridge, CO</option>
    <option value="Telluride, CO">Telluride, CO</option>
    <option value="Big Sky Resort, CO">Big Sky Resort, CO</option>
    <option value="Jackson Hole, WY">Jackson Hole, WY</option>
  </select>
  <label>Details:</label>
  <input type="text" name="details" required>
  <label>Link:</label>
  <input type="link" name="link" required>
  <input type="submit" value="Submit Event">
</form>

<%- include('../partials/footer') %>