<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Snow Link</title>
</head>
<body>
  <%- include('./partials/header') %>

  <h3 class="title">Event Finder App for the Ski & Snowboard Community. 
    <br>Find Your Fun and Friends.</h3>

  <%- include('./partials/footer') %>
</body>
</html>